<div class="contato">
  <h1>Contato</h1>

  <ul class="social-media">
    <li>
      <a href="https://www.linkedin.com/in/maycon-jardim-b55b7a15b/"
        ><i class="bx bxl-linkedin"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/mayconjardim"
        ><i class="bx bxl-github"></i
      ></a>
    </li>
    <li>
      <a href="https://www.instagram.com/yungmaycon/"
        ><i class="bx bxl-instagram"></i
      ></a>
    </li>
  </ul>

  <ul class="contato-info">
    <li>Telefone: +5521 97518-5287</li>
    <li>mayconpjardim@gmail.com</li>
  </ul>
</div>
