@import "../../../assets/scss/variables.scss";
:host {
  display: block;
  background-color: $background-color;
  color: white;
  padding: 1rem;
}

.contato {
  ul {
    margin-top: 2rem;
    list-style: none;
    padding: 0%;
  }

  .social-media {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    li {
      height: 60px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: $white;
      background-color: rgba(255, 255, 255, 0.2);

      a {
        color: $primary-color;
      }
    }
  }

  .contato-info li {
    height: 30px;
    text-align: center;
    font-size: 1.2rem;
  }
}
