@import "../../../assets/scss/variables.scss";
:host {
  display: block;
  background-color: $background-color;
  color: white;
  padding: 1rem;
}

.contato {
  &-lista {
    display: flex;
    justify-content: center;

    ul {
      width: 100%;
      text-align: center;
    }

    li {
      list-style: none;
      display: inline-block;
      padding: 1rem;
    }

    i {
      width: 2rem;
    }

    a {
      text-decoration: none;
      color: $white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
